<h2>Login</h2>

<form action="/do_login" method="post">

Email
<input type="email" name="email">

<br><br>

Password
<input type="password" name="password">

<br><br>

<button>Login</button>

</form>

<br>

<a href="/register">Create New Account</a>